<%include ./partials/header.ejs%>

<div class="container">
    <form action='/login' method="post">
        <input type="text" name="username" placeholder="admin">
        <input type="password" name="password" placeholder="admin">
        <input type="submit" value="submit!">
    </form>

</div>